[Unit]
Description=Service for running lonng packet captures
Documentation=https://github.com/jasonalcock/systemd-pcap/blob/master/README.md
After=network.target

[Service]
Type=simple

# Snap length
Environment="SNAPLENGTH=70"
# Max file size
Environment="FILESIZE=25"
# Max number of files
Environment="FILELIMIT=10"
# BPF filter
Environment="FILTER=host 1.1.1.1"
# Additional arguments to tcpdump
Environment="ADDITIONAL_ARGS="
# Filename
Environment="FILENAME=$(date +%Y-%m-%d_%H:%M:%S.pcap)"
# Compress
Environment="COMPRESSION=gzip"

ExecStartPre=/bin/bash -c '/bin/systemctl set-environment HOSTNAME=$(hostname)'
ExecStart=/usr/sbin/tcpdump -i %i -z ${COMPRESSION} -w /var/tmp/${HOSTNAME}-%i.${FILENAME}. -C ${FILESIZE} -W ${FILELIMIT} -K -n ${ADDITIONAL_ARGS} ${FILTER}

[Install]
WantedBy=multi-user.target
